@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

section {
  width: 100%;
  margin: 144px 0;
}

button {
  cursor: pointer;
}

.kontainer {
  width: 100%;
  max-width: 1200px;
  padding: 12px 0;
  margin: 0 auto; /* Ensure it centers in the middle */
}

.row {
  width: 86%;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes radiation {
  0%, 100% {
    border-color: #FF9B50;
    box-shadow: 0 0 5px #FF9B50, 0 0 10px #FF9B50, 0 0 15px #FF9B50;
  }
  50% {
    border-color: #FFD700;
    box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
  }
}

.radiating-border {
  border: 8px solid #FF9B50;
  border-radius: 1rem; /* Adjust as needed */
  animation: radiation 2s infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
